#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Title-bar-color {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 80px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_36 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 38px;
  padding-left: 73px;
  width: 287px;
  height: 42px;
  background-color: #FAFAFA;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_36 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_37 {
  position: absolute;
  top: 36px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_37 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_38 {
  position: absolute;
  top: 35px;
  left: 294px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_38 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_39 {
  position: absolute;
  top: 35px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_39 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Text_1 {
  position: absolute;
  top: 79px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Input_1 {
  position: absolute;
  top: 79px;
  left: 148px;
  width: 212px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Input_1 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Category_1 {
  position: absolute;
  top: 106px;
  left: 0px;
  width: 360px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Category_1 .valign {
  width: 342px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_1 {
  position: absolute;
  top: 184px;
  left: 31px;
  width: 114px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_2 {
  position: absolute;
  top: 184px;
  left: 185px;
  width: 114px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}