#s-19a3d730-29a3-4409-945b-e561853ff341 #s-maps-background {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Ellipse_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  filter: alpha(opacity=45);
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: alpha(opacity=25);
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-19a3d730-29a3-4409-945b-e561853ff341 #s-Pinmap {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-19a3d730-29a3-4409-945b-e561853ff341 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}