#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}