#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 114px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 114px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fa5d63ac-330a-48af-8d6b-6f9c52fde4a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}